# Node modules (jangan pernah push ini)
node_modules/

# File konfigurasi lingkungan (rahasia)
.env

# Logs
*.log

# Folder sistem OS/editor
.DS_Store
.vscode/
.idea/

# Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
